[submodule "empstat-webapp"]
	path = empstat-webapp
	url = https://github.com/chetansinghsajwan/empstat-webapp.git
[submodule "empstat-server"]
	path = empstat-server
	url = https://github.com/chetansinghsajwan/empstat-server.git
[submodule "empstat-database"]
	path = empstat-database
	url = https://github.com/chetansinghsajwan/empstat-database.git
[submodule "empstat-datatransform"]
	path = empstat-datatransform
	url = https://github.com/chetansinghsajwan/empstat-datatransform.git
